@mixin title-style($size, $up-low, $height) {
  font-size: $size;
  text-transform: $up-low;
  line-height: $height;
  font-weight: 700;
  color: var(--title-text-color);
}

@mixin flexing-pro($row) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: $row;
  justify-content: space-between;
}
