:root {
  // colors
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --primary-white-color: #ffffff;
  --title-text-color: #212121;
  --icons-color: #afb1b8;
  --icons-footer-bg-color: rgba(255, 255, 255, 0.1);
  --some-section-bg-color: #f5f4fa;
  --button-active-bg: #188ce8;
  --portfolio-btn-color: #f5f4fa;
  --portfolio-slider-text-color: rgba(33, 150, 243, 0.9);
}
