.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
  color: var(--accent-color);

  & .accent {
    color: #000000;
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo-footer {
  & .accent {
    color: var(--primary-white-color);
  }
}
